# -----------------------------
# Python / Scripts
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.env                # local environment variables / credentials

# -----------------------------
# Data folders (large / generated)
# -----------------------------
data/raw/*
data/interim/
data/processed/
data/qa/
data/quickstart/
*.tif               # large raster files
*.gpkg              # local geopackage files
*.shp               # shapefiles (if downloading raw)
*.dbf
*.prj
*.shx
*.cpg

# -----------------------------
# Logs
# -----------------------------
logs/*
!logs/.gitkeep
*.log               # log files


# exceptions for sentinel shapefile and park boundry geojson
!data/raw/nps_boundary.geojson
!data/raw/sentinel_shapefile/
!data/raw/sentinel_shapefile/**

# -----------------------------
# Docker / local container artifacts
# -----------------------------
docker/postgis/init/*.bak
docker/postgis/init/*.tmp
docker/postgis/init/*.swp

# -----------------------------
# OS-specific / editor files
# -----------------------------
.DS_Store
Thumbs.db
*.swp
*.swo

# -----------------------------
# Python virtual environment
# -----------------------------
.venv/
venv/
env/

# -----------------------------
# DuckDB warehouse
# -----------------------------
warehouse/warehouse.db